{% extends 'default.html' %}
{% load custom_filters %}



{% block title %}Station{% endblock %}

{% block body %}
<h1 style="text-align: center;">Все товары</h1><h3 style="text-align: center;">{{ time_now|date:"d M Y"}}</h3>
<p>&nbsp</p>
        <table>
            <tbody>
                   <tr>
                       <td style="width: 100px; text-align: center;">Id Статьи</td>
                       <td style="width: 250px; text-align: center;">Заголовок</td>
                       <td style="width: 250px; text-align: center;">Дата написания</td>
                       <td style="width: 900px; text-align: center;">Текст</td>
                   </tr>

            {% for i in news %}
                    <tr>
                        <td style="text-align: center">{{ i.id}}</td>
                        <td style="text-align: center">{{ i.name_st|change_querry}}</td>
                        <td style="text-align: center">{{ i.data_cr_st}}</td>
                        <td style="text-align: center">{{ i.text_st|change_querry|truncatechars:20}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}